<div class="container-fluid p-0">
  <header class="fix_heigh_header">
    <div class="nav_container">
      <div class="logo">
        <a href="">
          <img alt="Logo" class="img_logo_defaul" src="assets/images/icon/logo.png"/>
          <img alt="Logo" class="img_logo_fixed" src="assets/images/icon/logo-fixed.png"/>
        </a>
      </div>
      <nav class="collapse navbar-collapse">
        <ul class="menu">
          <li class="level-01 home"><a class="active" routerLink="">HOME</a></li>
          <li class="level-01 shop"><a>GIFT FOR</a>
            <div class="mega_drop_menu mega_dropdown_portfolio_v1">
              <!-- <div class="row">
                  <div class="col-lg-4">
                      <div class="menu-menu">
                          <h3 class="title">CATEGORIES</h3>
                          <ul class="block_level2">
                              <li class="level-02"><a href="#">Plazers</a></li>
                              <li class="level-02"><a href="#">Jacket</a></li>
                              <li class="level-02"><a href="#">Coats</a></li>
                              <li class="level-02"><a href="#">Parka</a></li>
                              <li class="level-02"><a href="#">Sweater</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="menu-menu">
                          <h3 class="title">BRANDS</h3>
                          <ul class="block_level2">
                              <li class="level-02"><a href="#">2XH Brothers</a></li>
                              <li class="level-02"><a href="#">Edwin</a></li>
                              <li class="level-02"><a href="#">Obey</a></li>
                              <li class="level-02"><a href="#">Majestic</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="menu-menu">
                          <h3 class="title">PAGES</h3>
                          <ul class="block_level2">
                              <li class="level-02"><a href="blog_grid.html">Shop Grid</a></li>
                              <li class="level-02"><a href="blog_listing_left_sidebar.html">Shop Grid Left Sidebar</a></li>
                              <li class="level-02"><a href="blog_single_with_audio.html">Product Single With Audio</a></li>
                              <li class="level-02"><a href="blog_single_with_image.html">Product Single With Image</a></li>
                              <li class="level-02"><a href="blog_single_with_slider.html">Product Single With Slider</a></li>
                              <li class="level-02"><a href="blog_single_with_video.html">Product Single With Video</a></li>
                          </ul>
                      </div>
                  </div>
              </div> -->
              <div class="menu-menu">
                <ul class="block_level2">
                  <li class="level-02"><a routerLink="boy">BOY</a></li>
                  <li class="level-02"><a routerLink="girls">GIRL</a></li>
                  <li class="level-02"><a routerLink="sister">SISTER</a></li>
                  <li class="level-02"><a routerLink="brother">BROTHER</a></li>
                  <li class="level-02"><a routerLink="mother">MOTHER</a></li>
                  <li class="level-02"><a routerLink="father">FATHER</a></li>
                  <li class="level-02"><a routerLink="kids">KIDS</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="level-01 portfolio"><a routerLink="">OCCASSION</a>
            <div class="mega_drop_menu mega_dropdown_portfolio_v1">
              <div class="menu-menu">
                <ul class="block_level2">
                  <li class="level-02"><a routerLink="birthday">BIRTHDAY</a></li>
                  <li class="level-02"><a routerLink="anniversary">ANNIVERSARY</a></li>
                  <li class="level-02"><a routerLink="wedding">WEDDING</a></li>
                  <li class="level-02"><a routerLink="miscellaneous">MISCELLANEOUS</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="level-01 blog"><a href="">CATEGORIES</a>
            <div class="mega_drop_menu mega_dropdown_blog_v1">
              <div class="menu-menu">
                <ul class="block_level2">
                  <li class="level-02"><a routerLink="blog_grid.html">Blog Default</a></li>
                  <li class="level-02"><a routerLink="blog_grid.html">Blog Grid</a></li>
                  <li class="level-02"><a routerLink="blog_masonry.html">Blog Masonry</a></li>
                  <li class="level-02"><a routerLink="blog_listing_no_sidebar.html">Blog Center</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="level-01 home"><a routerLink="contact">CONTACT US</a>
            <!-- <div class="mega_drop_menu mega_dropdown_features_v1">
                <div class="menu-menu">
                    <ul class="block_level2">
                        <li class="level-02"><a href="categories_grid_full_width.html">Categories grid full width</a></li>
                        <li class="level-02"><a href="categories_grid_sidebar_left.html">Categories grid sidebar left</a></li>
                        <li class="level-02"><a href="categories_grid_sidebar_right.html">Categories grid sidebar right</a></li>
                        <li class="level-02"><a href="categories_grid_full_width.html">Categories list sidebar</a></li>
                    </ul>
                </div>
            </div> -->
          </li>
          <!-- <li class="level-01 shortcodes"><a href="">SHORTCODES</a>
              <div class="mega_drop_menu mega_dropdown_shortcodes_v1">
                  <div class="menu-menu">
                      <ul class="block_level2">
                          <li class="level-02"><a href="about_us.html">About Us</a></li>
                          <li class="level-02"><a href="contact_us.html">Contact Us</a></li>
                          <li class="level-02"><a href="check_out.html">checkout</a></li>
                          <li class="level-02"><a href="log_in.html">login</a></li>
                      </ul>
                  </div>
              </div>
          </li> -->
        </ul>
      </nav>
      <div class="navbar-toggle-right">
        <div class="navbar-toggle-search">
          <div class="navbar-search">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="navcart">
          <div class="navcart-wrap">
            <div class="navbar-minicart">
              <a class="minicart-link" href="#">
                <span class="minicart-icon"><i class="fa fa-shopping-cart"></i><span>(0)</span></span>
              </a>
              <div class="mega_drop_menu mega_dropdown_nav_cart_v1">
                <div class="menu-menu">
                  <ul class="block_level2">
                    <li class="level-02 contact">Your shopping bag is empty.</li>
                    <li class="level-02">
                      <div class="minicart-actions clearfix">
                        <a class="button" href="#">
                          <span class="text">Go to the shop</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navcart">
          <div class="navcart-wrap">
            <div class="navbar-minicart" *ngIf="isLogIn">
              <a class="minicart-link" href="#">
                <span class="minicart-icon"><i class="fa fa-user"></i></span>
              </a>
              <div class="mega_drop_menu mega_dropdown_nav_cart_v1">
                <div class="menu-menu">
                  <ul class="block_level2">
                    <li class="level-02"><a routerLink="account">My Account</a>
                    <li class="level-02"><a routerLink="wishlist">Wishlist</a>
                    <li class="level-02"><a routerLink="orders">Orders</a>
                    <li class="level-02"><a href="">XYZ</a>
                    <li class="level-02">
                      <button class="btn" (click)="logout()">Logout</button>
                      <!--                        <div class="mega_drop_menu mega_dropdown_shortcodes_v1">-->
                      <!--                          <div class="menu-menu">-->
                      <!--                            <ul class="block_level2">-->
                      <!--                              <li class="level-02"><a href="about_us.html">About Us</a></li>-->
                      <!--                              <li class="level-02"><a href="contact_us.html">Contact Us</a></li>-->
                      <!--                              <li class="level-02"><a href="check_out.html">checkout</a></li>-->
                      <!--                              <li class="level-02"><a href="log_in.html">login</a></li>-->
                      <!--                            </ul>-->
                      <!--                          </div>-->
                      <!--                        </div>-->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="pt-3" *ngIf="!isLogIn">
              <button class="btn btn-secondary login" (click)="login()">Login/Register</button>
            </div>
          </div>
        </div>

      </div>
    </div>
<!--    <div class="header-search-overlay hide">-->
<!--      <div class="container-fluid">-->
<!--        <div class="header-search-overlay-wrap">-->
<!--          <form method="GET" class="searchform">-->
<!--            <input type="search" class="searchinput" name="s" autocomplete="off" value="" placeholder="Search...">-->
<!--            <input type="submit" class="searchsubmit hidden" name="submit" value="Search">-->
<!--            <input type="hidden" name="post_type" value="product">-->
<!--          </form>-->
<!--          <button type="button" class="close">-->
<!--            <span aria-hidden="true" class="fa fa-times"></span><span class="sr-only">Close</span>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <nav class="navbar nav_container nav-mini">-->
<!--      <div class="row">-->
<!--        <div class="col-1">-->
<!--        <button class="navbar-toggler float-left" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
<!--          <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        </div>-->
<!--        <div class="col-7">-->
<!--          <a href="">-->
<!--            <img alt="Logo" class="img_logo_defaul" src="assets/images/icon/logo.png"/>-->
<!--            <img alt="Logo" class="img_logo_fixed" src="assets/images/icon/logo-fixed.png"/>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--        <div class="row text-center text-white">-->
<!--          <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "">Home</a></div>-->
<!--          <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "features">Features</a></div>-->
<!--          <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "products">Products</a></div>-->
<!--          &lt;!&ndash; <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "services">Services</a></div> &ndash;&gt;-->
<!--          <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "technology">Technology</a></div>-->
<!--          <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "contact">Contact&nbsp;Us</a></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
  </header>
</div>
