<body class="container-fluid p-0">
  <header class="fix_heigh_header">
    <div class="nav_container">
      <div class="logo">
        <a href="">
          <img alt="Logo" class="img_logo_defaul" src="assets/images/icon/logo.png" />
          <img alt="Logo" class="img_logo_fixed" src="assets/images/icon/logo-fixed.png" />
        </a>
      </div>
      <nav class="collapse navbar-collapse" [ngClass]="navShow ? 'nav_showing' : ''">
        <ul class="menu">
          <li class="level-01 home"><a class="active" routerLink="">HOME</a></li>
          <li class="level-01 shop"><a (click)="openPanel('giftfor')">GIFT FOR <i class="fa fa-plus"
                *ngIf="!clickedGiftFor"></i><i class="fa fa-minus" *ngIf="clickedGiftFor"></i></a>
            <div class="mega_drop_menu mega_dropdown_portfolio_v1" [ngClass]="clickedGiftFor ? 'open' : ''">
              <div class="menu-menu">
                <ul class="block_level2" (click)="toggleClass()">
                  <li class="level-02"><a routerLink="boy">BOY</a></li>
                  <li class="level-02"><a routerLink="girls">GIRL</a></li>
                  <li class="level-02"><a routerLink="sister">SISTER</a></li>
                  <li class="level-02"><a routerLink="brother">BROTHER</a></li>
                  <li class="level-02"><a routerLink="mother">MOTHER</a></li>
                  <li class="level-02"><a routerLink="father">FATHER</a></li>
                  <li class="level-02"><a routerLink="kids">KIDS</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="level-01 shop"><a (click)="openPanel('occassion')">OCCASSION <i class="fa fa-plus"
            *ngIf="!clickedOccassion"></i><i class="fa fa-minus" *ngIf="clickedOccassion"></i></a>
        <div class="mega_drop_menu mega_dropdown_portfolio_v1" [ngClass]="clickedOccassion ? 'open' : ''">
          <div class="menu-menu">
                <ul class="block_level2" (click)="toggleClass()">
                  <li class="level-02"><a routerLink="birthday">BIRTHDAY</a></li>
                  <li class="level-02"><a routerLink="anniversary">ANNIVERSARY</a></li>
                  <li class="level-02"><a routerLink="wedding">WEDDING</a></li>
                  <li class="level-02"><a routerLink="miscellaneous">MISCELLANEOUS</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="level-01 blog"><a (click)="openPanel('category')">CATEGORIES <i class="fa fa-plus"
            *ngIf="!clickedCategory"></i><i class="fa fa-minus" *ngIf="clickedCategory"></i></a>
            <div class="mega_drop_menu mega_dropdown_blog_v1" [ngClass]="clickedCategory ? 'open' : ''">
              <div class="menu-menu">
                <ul class="block_level2" (click)="toggleClass()">
                  <li class="level-02"><a routerLink="blog_grid.html">Blog Default</a></li>
                  <li class="level-02"><a routerLink="blog_grid.html">Blog Grid</a></li>
                  <li class="level-02"><a routerLink="blog_masonry.html">Blog Masonry</a></li>
                  <li class="level-02"><a routerLink="blog_listing_no_sidebar.html">Blog Center</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="level-01 home"><a routerLink="contact">CONTACT US</a>
            <!-- <div class="mega_drop_menu mega_dropdown_features_v1">
                <div class="menu-menu">
                    <ul class="block_level2">
                        <li class="level-02"><a href="categories_grid_full_width.html">Categories grid full width</a></li>
                        <li class="level-02"><a href="categories_grid_sidebar_left.html">Categories grid sidebar left</a></li>
                        <li class="level-02"><a href="categories_grid_sidebar_right.html">Categories grid sidebar right</a></li>
                        <li class="level-02"><a href="categories_grid_full_width.html">Categories list sidebar</a></li>
                    </ul>
                </div>
            </div> -->
          </li>
          <!-- <li class="level-01 shortcodes"><a href="">SHORTCODES</a>
              <div class="mega_drop_menu mega_dropdown_shortcodes_v1">
                  <div class="menu-menu">
                      <ul class="block_level2">
                          <li class="level-02"><a href="about_us.html">About Us</a></li>
                          <li class="level-02"><a href="contact_us.html">Contact Us</a></li>
                          <li class="level-02"><a href="check_out.html">checkout</a></li>
                          <li class="level-02"><a href="log_in.html">login</a></li>
                      </ul>
                  </div>
              </div>
          </li> -->
        </ul>
      </nav>
      <div class="navbar-toggle-right">
        <div class="navbar-toggle-search">
          <div class="navbar-search">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="navcart">
          <div class="navcart-wrap">
            <div class="navbar-minicart">
              <a class="minicart-link" routerLink="cart">
                <span class="minicart-icon"><i class="fa fa-shopping-cart"></i><span>{{cart.length}}</span></span>
              </a>
              <div class="mega_drop_menu mega_dropdown_nav_cart_v1">
                <div class="menu-menu">
                  <ul class="block_level2" *ngIf="cart.length == 0">
                    <li class="level-02 contact">Your shopping bag is empty.</li>
                    <li class="level-02">
                      <div class="minicart-actions clearfix">
                        <a class="button" routerLink="cart">
                          <span class="text">Go to Cart</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                  <ul class="block_level2" *ngIf="cart.length != 0">
                    <li class="level-02 contact" *ngFor="let item of cart">
                      <div>
                        {{productsUtil.getName(item.product_id, products)}} <button class="float-right"
                          (click)="removeFromCart(item.timesta, item.images)">X</button>
                      </div>

                    </li>
                    <li class="level-02">
                      <div class="minicart-actions clearfix">
                        <a class="button" routerLink="cart">
                          <span class="text">Go to Cart</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navcart">
          <div class="navcart-wrap">
            <div class="navbar-minicart" *ngIf="isLogIn">
              <a class="minicart-link" href="#">
                <span class="minicart-icon"><i class="fa fa-user"></i></span>
              </a>
              <div class="mega_drop_menu mega_dropdown_nav_cart_v1">
                <div class="menu-menu">
                  <ul class="block_level2">
                    <li class="level-02 account-head">{{userData.name}}
                    <li class="level-02"><a routerLink="account">My Account</a>
                    <li class="level-02"><a routerLink="wishlist">Wishlist</a>
                    <li class="level-02"><a routerLink="orders">Orders</a>
                    <li class="level-02"><a href="">XYZ</a>
                    <li class="level-02">
                      <button class="btn" (click)="logout()">Logout</button>
                      <!--                        <div class="mega_drop_menu mega_dropdown_shortcodes_v1">-->
                      <!--                          <div class="menu-menu">-->
                      <!--                            <ul class="block_level2">-->
                      <!--                              <li class="level-02"><a href="about_us.html">About Us</a></li>-->
                      <!--                              <li class="level-02"><a href="contact_us.html">Contact Us</a></li>-->
                      <!--                              <li class="level-02"><a href="check_out.html">checkout</a></li>-->
                      <!--                              <li class="level-02"><a href="log_in.html">login</a></li>-->
                      <!--                            </ul>-->
                      <!--                          </div>-->
                      <!--                        </div>-->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="pt-3" *ngIf="!isLogIn">
              <button class="btn btn-secondary login" (click)="login()">Login/Register</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="handle" [ngClass]="handleShow ? 'handle_showing' : ''"><i class="fa fa-bars" aria-hidden="true"
        (click)="toggleClass()"></i></div>
    <!--    <div class="header-search-overlay hide">-->
    <!--      <div class="container-fluid">-->
    <!--        <div class="header-search-overlay-wrap">-->
    <!--          <form method="GET" class="searchform">-->
    <!--            <input type="search" class="searchinput" name="s" autocomplete="off" value="" placeholder="Search...">-->
    <!--            <input type="submit" class="searchsubmit hidden" name="submit" value="Search">-->
    <!--            <input type="hidden" name="post_type" value="product">-->
    <!--          </form>-->
    <!--          <button type="button" class="close">-->
    <!--            <span aria-hidden="true" class="fa fa-times"></span><span class="sr-only">Close</span>-->
    <!--          </button>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <nav class="navbar nav_container nav-mini">-->
    <!--      <div class="row">-->
    <!--        <div class="col-1">-->
    <!--        <button class="navbar-toggler float-left" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
    <!--          <span class="navbar-toggler-icon"></span>-->
    <!--        </button>-->
    <!--        </div>-->
    <!--        <div class="col-7">-->
    <!--          <a href="">-->
    <!--            <img alt="Logo" class="img_logo_defaul" src="assets/images/icon/logo.png"/>-->
    <!--            <img alt="Logo" class="img_logo_fixed" src="assets/images/icon/logo-fixed.png"/>-->
    <!--          </a>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="collapse navbar-collapse" id="collapsibleNavbar">-->
    <!--        <div class="row text-center text-white">-->
    <!--          <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "">Home</a></div>-->
    <!--          <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "features">Features</a></div>-->
    <!--          <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "products">Products</a></div>-->
    <!--          &lt;!&ndash; <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "services">Services</a></div> &ndash;&gt;-->
    <!--          <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "technology">Technology</a></div>-->
    <!--          <div class="nav-item col-4" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink = "contact">Contact&nbsp;Us</a></div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </nav>-->
  </header>
</body>