<div class="container-fluid p-0">
  <footer>
    <div class="wrap_footer footer_boxed">
      <div class="container_home_boxed m-4">
        <div class="footer_top_simple">
          <div class="footer-widget-wrap">
            <div class="row">
              <div class="footer-widget-col col-md-3 col-sm-6">
                <div class="widget widget_text" id="text-2">
                  <div class="textwidget"><img style="max-height: 23px; margin-bottom: 3em;" alt="widget-logo" src="assets/images/icon/logo-fixed.png">
                    <p>Jakiro is an eCommerce WordPress Theme which is the most perfect solution for your online shop website.</p>
                    <ul class="company-info">
                      <li>
                        <span aria-hidden="true" class="icon_pin icon_jakiro"></span>
                        <span class="caption">123 New Design Street, Melbourne Australia 54214</span>
                      </li>
                      <li>
                        <span aria-hidden="true" class="icon_mail_alt icon_jakiro"></span>
                        <span class="caption">admin@lunartheme.com</span>
                      </li>
                      <li>
                        <span aria-hidden="true" class="icon_phone icon_jakiro"></span>
                        <span class="caption">(0091) 8547 632521</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-widget-col col-md-3 col-sm-6">
                <div class="widget widget_tag_cloud" id="tag_cloud-2">
                  <h3 class="widget-title"><span>popular tags</span></h3>
                  <div class="tagcloud">
                    <a title="1 topic" class="tag-link-67 tag-link-position-1" href="">Amazing</a>
                    <a class="tag-link-70 tag-link-position-2" href="">Envato</a>
                    <a class="tag-link-64 tag-link-position-3" href="">Themes</a>
                    <a class="tag-link-63 tag-link-position-4" href="">Clean</a>
                    <a class="tag-link-66 tag-link-position-5" href="">WordPress</a>
                    <a class="tag-link-65 tag-link-position-6" href="">Creative</a>
                    <a class="tag-link-71 tag-link-position-7" href="">Mutilpurpose</a>
                    <a class="tag-link-68 tag-link-position-8" href="">Retina Ready</a>
                    <a class="tag-link-62 tag-link-position-9" href="">Twitter</a>
                    <a class="tag-link-69 tag-link-position-10" href="">Responsive</a></div>
                </div>
              </div>
              <div class="footer-widget-col col-md-3 col-sm-6">
                <div class="widget widget_recent_entries" id="recent-posts-3">
                  <h3 class="widget-title"><span>Recent Post</span></h3>
                  <ul>
                    <li>
                      <a href="">Reviving The Check Shirt</a>
                    </li>
                    <li>
                      <a href="">Beard & Moustache Trend</a>
                    </li>
                    <li>
                      <a href="">Modern Man’s Elegance</a>
                    </li>
                    <li>
                      <a href="">The Style of The Century</a>
                    </li>
                    <li>
                      <a href="">No Brown In Town Rule</a>
                    </li>
                    <li>
                      <a href="">Men Should Not Be Alone</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="footer-widget-col col-md-3 col-sm-6">
                <div class="widget widget-mailchimp" id="dh_widget_mailchimp-2"><h3 class="widget-title"><span>Newsletter</span></h3>	<form action="http://test.lunartheme.com/jakiro/" class="mailchimp-form" method="get" id="mailchimp-form-8e4399a262">
                  <div class="mailchimp-form-content clearfix">
                    <label>Sign up for our mailing list to get latest updates and offers.</label>
<!--                    <div class="input-group">-->
<!--                      <input type="text" class="form-control" placeholder="Search for...">-->
<!--                      <span class="input-group-btn">-->
<!--                                                <button class="btn btn-default" type="button"><span aria-hidden="true" class="arrow_right"></span></button>-->
<!--                                              </span>-->
<!--                    </div>&lt;!&ndash; /input-group &ndash;&gt;-->
                    <div style="display: none;">
                      <input type="hidden" value="8e4399a262" name="_subscribe_nonce">
                      <input type="hidden" value="dh_mailchimp_subscribe" name="action">
                    </div>
                  </div>
                </form>
                </div>
                <div class="widget social-widget" id="dh_social_widget-2">
                  <div class="social-widget-wrap social-widget-none">
                    <a target="_blank" title="Facebook" href=""><i class="fa fa-facebook"></i></a>
                    <a target="_blank" title="Twitter" href=""><i class="fa fa-twitter"></i></a>
                    <a target="_blank" title="Google+" href=""><i class="fa fa-google-plus"></i></a>
                    <a target="_blank" title="Pinterest" href=""><i class="fa fa-pinterest"></i></a>
                    <a target="_blank" title="RSS" href="#"><i class="fa fa-rss"></i></a>
                    <a target="_blank" title="Instagram" href=""><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="container_home_boxed m-0 p-0">
          <p class="copy_right">
            Copyrights © 2015 by<span class="logo">JAKIRO.</span> All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
