<div class="container-fluid p-0">
    <footer>
        <div id="footer" class="footer footer_v1">
            <div class="footer_wrap">
                <div class="footer_top">
                    <div class="logo"><a href=""><img alt="Logo" src="assets/images/icon/logo_footer.png"/></a></div>
                    <div class="footer-menu">
                        <ul class="footer-nav">
                            <li class="menu-item"><a href="">Site map</a></li>
                            <li class="menu-item"><a href="">Search</a></li>
                            <li class="menu-item"><a href="">Terms</a></li>
                            <li class="menu-item"><a href="">Career</a></li>
                            <li class="menu-item"><a href="">Orders and Return</a></li>
                            <li class="menu-item"><a href="">About</a></li>
                            <li class="menu-item"><a href="">Contact</a></li>
                        </ul>
                    </div>
                    <div class="social">
                        <a href=""><span aria-hidden="true" class="social_twitter"></span></a>
                        <a href=""><span aria-hidden="true" class="social_googleplus"></span></a>
                        <a href=""><span aria-hidden="true" class="social_pinterest"></span></a>
                        <a href=""><span aria-hidden="true" class="social_rss"></span></a>
                        <a href=""><span aria-hidden="true" class="social_facebook"></span></a>
                        <a href=""><span aria-hidden="true" class="social_dribbble"></span></a>
                    </div>
                </div>
                <div class="footer_bottom">
                    <p class="copy_right">Copyrights © 2015 by <span class="logo">JAKIRO.</span>  All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</div>