<p>customize works!</p>
<div class="modal-header p-5">
  <h4 class="modal-title">Customize Here ! </h4>
  <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="false">&times;</span>
  </button> -->
</div>

<!--<form [formGroup]="customizeForm" (ngSubmit)="onSubmit()">-->
<!--<div *ngFor="let image of im.controls; let i = index" class="list-group list-group-flush">-->
<!--  <div class="list-group-item">-->
<!--    <h5 class="card-title">Image {{i + 1}}</h5>-->
<!--    <div [formGroupName]="image" class="form-row">-->
<!--      <div class="form-group col-6">-->
<!--        <input type="file" formControlName="file" class="form-control" (change)="onFileChange($event)" />-->
<!--&lt;!&ndash;        <div *ngIf="submitted && ticket.controls.name.errors" class="invalid-feedback">&ndash;&gt;-->
<!--&lt;!&ndash;          <div *ngIf="ticket.controls.name.errors.required">Name is required</div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</form>-->

<!--<form>-->
<!--  <input type="file" name="filefield" multiple="multiple">-->
<!--</form>-->
<div *ngIf="filesUploaded">
  <div *ngFor="let progressInfo of progressInfos" class="mb-2 col-6">
    <span>{{ progressInfo.fileName }}</span>
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="100"
        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: '100%' , background: 'blue'}">
        <!-- {{ progressInfo.value }}% -->
        100%
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <label class="btn btn-default">
      <input type="file" multiple (change)="selectFiles($event)" />
    </label>
    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadFiles()">
      Upload
    </button>
    <div class="alert alert-light" role="alert">{{ message }}</div>
    <!--<div class="card">-->
    <!--  <div class="card-header">List of Files</div>-->
    <!--  <ul-->
    <!--    class="list-group list-group-flush"-->
    <!--    *ngFor="let file of fileInfos | async"-->
    <!--  >-->
    <!--    <li class="list-group-item">-->
    <!--      <a href="{{ file.url }}">{{ file.name }}</a>-->
    <!--    </li>-->
    <!--  </ul>-->
    <!--</div>-->
  </div>
  <div class="col-6">
    <div *ngFor="let in of counter();let i = index">
      <label>Text {{i+1}}: </label>
      <input type="text" class="mb-4" [(ngModel)]="selectedText[i]" (change)="textChanged($event)"/>
    </div>
    <div class="alert alert-light" role="alert">{{ textMessage }}</div>
    <button class="btn btn-success" (click)="saveText()">Save Text</button>
  </div>
</div>
<button class="btn btn-primary" [disabled]="!filesUploaded || !textSaved" (click)="addtocart()">Add to cart</button>