<p>checkout works!</p>
i am checkout
<div class="container-full">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="check_out_left default_check_out">
                    <div class="billing-fields billing-fields-1">
                        <h2>Billing details</h2>
                        <button class="btn btn-dark" (click)="addNewAddress()">Add New Address</button>
                        <div *ngIf="addAddress">
                            <form [formGroup]="addressForm" (ngSubmit)="saveAddress()">
                                <div class="input-field">
                                    <label>Full Name <span class="start_checkout">*</span></label>
                                    <input name="name" type="text" placeholder="Full Name"
                                        class="input-text form-control" required formControlName="name">
                                </div><!-- .input-field -->

                                <div class="input-field">
                                    <label>Phone <span class="start_checkout">*</span></label>
                                    <input name="phone" type="phone" placeholder="Phone" class="input-text form-control"
                                        required formControlName="phone">
                                </div><!-- .input-field -->

                                <div class="input-field">
                                    <label>Alternate Phone </label>
                                    <input name="alternatePhone" type="phone" placeholder="Alternate Phone"
                                        class="input-text form-control" formControlName="alternatePhone">
                                </div><!-- .input-field -->

                                <div class="input-field">
                                    <label>Address Line 1 <span class="start_checkout">*</span></label>
                                    <input name="line1" type="text" placeholder="Address Line 1"
                                        class="input-text form-control" required formControlName="line1">
                                </div><!-- .input-field -->

                                <div class="input-field">
                                    <label>Address Line 2 </label>
                                    <input name="line2" type="text" placeholder="Address Line 2"
                                        class="input-text form-control" formControlName="line2">
                                </div><!-- .input-field -->

                                <div class="input-field">
                                    <label>Town / City <span class="start_checkout">*</span></label>
                                    <input name="city" type="text" placeholder="City" class="input-text form-control"
                                        required formControlName="city">
                                </div><!-- .input-field -->

                                <div class="input-field">
                                    <label>State <span class="start_checkout">*</span></label>
                                    <div class="selectbox">
                                        <select formControlName="state" required>
                                            <option default>Select State</option>
                                            <option *ngFor="let state of states">{{state}}</option>
                                        </select>
                                    </div>
                                </div><!-- .input-field -->

                                <div class="input-field">
                                    <label>Pincode / Zip <span class="start_checkout">*</span></label>
                                    <input name="pincode" type="number" placeholder="Pincode"
                                        class="input-text form-control" required formControlName="pincode">
                                </div><!-- .input-field -->

                                <div class="input-field">
                                    <label>Type <span class="start_checkout">*</span></label>
                                    <div class="selectbox" >
                                        <select formControlName="type">
                                            <option default value="Home">Home</option>
                                            <option value="Work">Work</option>
                                        </select>
                                    </div>
                                </div><!-- .input-field -->

                                <div class="p-5">
                                    <input type="checkbox" formControlName="setDefault"> Set as default ?
                                </div><!-- .input-field -->

                                <button class="btn btn-primary" type="submit"
                                    [disabled]="!addressForm.valid">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="billing-fields billing-fields-1">
                        <h2>Select Address</h2>
                        <div class="card" *ngFor="let address of addresses">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">{{address.name}}<span *ngIf="address.is_default">  --  Default</span></h4>
                                    <p class="card-text">{{address.line_1}}, {{address.line_2}}, {{address.city}},
                                        {{address.state}} - {{address.pincode}}</p>
                                    <p>Phone: {{address.phone}}</p>
                                    <button class="card-link float-left border p-2"
                                        (click)="deleteAddress(address.timesta)">Delete</button>
                                    <button class="card-link float-right  border p-2" (click)="setCurrentAddress(address.timesta)">Use Address</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="check_out_right default_check_out">
                    <div class="billing-fields">
                        <h2>Your order</h2>
                        <div class="your_order">
                            <div class="input-field product_buy">
                                <label><span class="country2">Delivery Address:</span></label>
                                <h4 class="card-title">{{currentAddress?.name}}</h4>
                                    <p class="card-text">{{currentAddress?.line_1}}, {{currentAddress?.line_2}}, {{currentAddress?.city}},
                                        {{currentAddress?.state}} - {{currentAddress?.pincode}}</p>
                                    <p>Phone: {{currentAddress?.phone}}</p>

                                <label><span class="country2">Products</span><span class="totals">TOTALS</span></label>
                                <p *ngFor="let product of products"><a href=""> <span
                                            class="navy">{{product?.product_name}}</span></a><span
                                        class="price_navy">{{productsUtil.getPriceFromCart(product.product_id,cart,products)
                                        | currency:'INR'}}</span>
                                </p>
                                <p class="shipping_free">
                                    <span class="navy">Shipping</span>
                                    <span class="price_navy" *ngIf="shipping == 0">Free Shipping</span>
                                    <span class="price_navy" *ngIf="shipping != 0">{{shipping | currency:'INR'}}</span>
                                </p>
                                <p class="cart_subtotal" *ngIf="newUserDiscount != 0">
                                    <span class="navy">New User Discount</span>
                                    <span class="price_navy">-{{newUserDiscount | currency:'INR'}}</span>
                                </p>
                                <p class="cart_subtotal" *ngIf="couponDiscount != 0">
                                    <span class="navy">Coupon Discount</span>
                                    <span class="price_navy">-{{couponDiscount | currency:'INR'}}</span>
                                </p>
                            </div>
                            <div class="input-field">
                                <label class="title_order_totals"><span class="order_total">Order Totals :</span><span
                                        class="price_order_total">{{total | currency:'INR'}}</span></label>
                            </div>
                        </div>
                        <div class="place_order">
                            <button class="link_place_order" (click)="placeOrder()">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>