<div class="container-full">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-7-shopping-cart">
                <div class="your_shopping_cart shopping_default">
                    <h2 class="title title_default">your shopping cart</h2>
                    <div class="cart-form">
                        <div class="table-responsive">
                            <table class="table cart-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class="product-name">Products</th>
                                    <th class=""></th>
                                    <th>Price</th>
                                    <!-- <th class="th_quatity">Quantity</th> -->
                                    <!-- <th>Total</th> -->
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of cart">
                                    <td class="product-remove">
                                        <a><span aria-hidden="true" class="icon_close" (click)="removeFromCart(item.timesta, item.images)"></span></a>
                                    </td>
                                    <td class="product-name">
                                        <a href="#">
                                            <img src="assets/images/product/shopping_cart1.jpg" alt="">
                                        </a>
                                    </td>
                                    <td class="pro_name">
                                        <a href="#">
                                            <span>{{productsUtil.getName(item.product_id,products)}}</span><br>
                                            <span>Size: {{productsUtil.getSize(item.product_id, item.product_size, products)}}</span><br>
                                            <span>Weight: {{productsUtil.getWeight(item.product_id, item.product_size, products)}}Kg</span>
                                        </a>
                                    </td>
                                    <td class="product-price">
                                        <p class="origin-amt">{{productsUtil.getPrice(item.product_id, item.product_size, products) | currency:'INR'}}</p> <span>{{productsUtil.getDiscount(item.product_id, products)}}% off</span>
                                        <p class="price">{{productsUtil.getDiscPrice(item.product_id, item.product_size, products) | currency:'INR'}}</p>
                                    </td>
                                    <!-- <td>
                                        <div class="quantity_product quantity_product_15 size_product">
                                            <form enctype="multipart/form-data">
                                                <div class="product-signle-options product_15 clearfix">
                                                    <div class="selector-wrapper size">
                                                        <div class="quantity_shop_cart">
                                                            <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text" size="4">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </td> -->
                                    <!-- <td class="product-subtotal">
                                        <p class="price">$72.20</p>
                                    </td> -->
                                </tr>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="calculate_shipping shopping_default">
                    <div class="shopping_default coupon_codes">
                        <h2 class="title title_default">coupon codes</h2>
                        <form [formGroup]="couponForm" (ngSubmit)="addCoupon()">
                            <div class="content_coupon_codes">
                                <input type="text" class="form-control" placeholder="Enter your code here !" formControlName="coupon">
                                <button type="submit" class="btn btn-default">Apply coupon</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-5-shopping-cart">
                <app-cart-total></app-cart-total>
            </div>
        </div>
    </div>
</div>