.rating{
  background-color: #045BFE;
  color: white;
  border-radius: 6px !important
}
.fa{
  color: #ffcc00;
  font-size: 15px;
}
.origin-amt{
  text-decoration: line-through;
}
.box-shadow{
  transition: box-shadow .3s;
}

.box-shadow:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
