<h1 class="text-center">Find your perfect gift !!!</h1>
<div class="row mx-5">
  <div class="col-lg-3 col-sm-4 col-6 p-0 m-0 box-shadow"  *ngFor="let product of prod" >
    <div class="introduce_product border m-2 p-2">
      <img class="img img-responsive p-2 hoverClick" src="./assets/img-01.jpeg" alt="img-1" (click)="navigateToCustomize(product.product_id)">
      <div class="tittle_product text-center">
        <span class="discount">{{product.product_name}}</span>
      </div>
<!--      <div class="notable">-->
<!--        <span class="rating p-1 rounded">{{}}</span>-->
<!--        <i class="fa fa-star" aria-hidden="true"></i>-->
<!--        <span class="add_your_review"> 20 Review(s) | Add your review</span>-->
<!--      </div>-->
      <div class="price">
        <p>
        <span class="price_new">{{productsUtil.getDiscPrice(product.product_id, '0', prod) | currency:'INR'}}</span>&nbsp;
        <span class="origin-amt">{{product.price.split("~")[0] | currency:'INR'}}</span>&nbsp;
        </p>
        <p class="discount">{{product.discount}}% off</p>
      </div>
      <div class="note_pro">
        <span>Sizes: {{product.size | replace:'~':' / '}}</span>
      </div>
      <p class="note_pro">{{product.description}}</p>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-outline-primary w-100" (click)="navigateToCustomize(product.product_id)">View Product</button>
        </div>

      </div>
<!--      <div class="categories">-->
<!--        <p class="title">Categories: </p>-->
<!--        <ul>-->
<!--          <li><a href="" class="">Men, </a></li>-->
<!--          <li><a href="" class="">Hipster, </a></li>-->
<!--          <li><a href="" class="">T-shirt, </a></li>-->
<!--          <li><a href="" class="">Short T-Shirt, </a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="categories">-->
<!--        <p class="title">Tags: </p>-->
<!--        <ul>-->
<!--          <li><a href="" class="">Men’s Clothing, </a></li>-->
<!--          <li><a href="" class="">T-shirt </a></li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>
  </div>
</div>
