<div class="container" *ngFor="let product of prod">
  <div class="row product-name">
    <div class="col-12 p-0"> Gifts
      <i class="fa fa-angle-right mr-3 ml-3" aria-hidden="true"></i>
      <b> {{category}} </b>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="row top-frame">
        <div class="col-12 col-sm-2 pt-5 pr-0 pl-0 product-images">
          <div *ngFor="let image of product.image.split('~'); let i=index;">
            <img class="image-view img img-responsive" src="assets/images/products/{{prodId}}/{{image}}.jpg" alt="image"
              (click)="imageSelect(image,i)" [ngClass]="selectedImageIndex==i ? 'active' : ''">
          </div>
        </div>
        <div class="col-12 col-sm-10 text-center carousal">
          <img class="current-image img img-responsive" src="{{mainImage}}" alt="main">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="introduce_product">
        <div class="tittle_product">
          <a>{{product.product_name}}</a>
        </div>
        <!--        <div class="notable">-->
        <!--                                    <span class="notable_star">-->
        <!--                                        <i class="fa fa-star" aria-hidden="true"></i>-->
        <!--                                        <i class="fa fa-star" aria-hidden="true"></i>-->
        <!--                                        <i class="fa fa-star" aria-hidden="true"></i>-->
        <!--                                        <i class="fa fa-star" aria-hidden="true"></i>-->
        <!--                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>-->
        <!--                                    </span>-->
        <!--          <span class="add_your_review">04 Review(s) | Add your review</span>-->
        <!--        </div>-->
        <div class="mt-5">
          <p><b>Sizes</b></p>
          <span *ngFor="let sizes of product.size.split('~'); let i=index;">
            <button class="mr-3 btn btn-light btn-lg" (click)="sizeSelect(i)" [ngClass]="size==i ? 'active' : ''">{{sizes}}</button>
          </span>
          <hr>
        </div>
        <div class="price">
          <p>
            <span class="price_new">{{price | discPrice:prod[0].discount | currency:'INR'}}</span>&nbsp;
            <span class="origin-amt">{{price | currency:'INR'}}</span>&nbsp;
            </p>
            <p class="discount">{{product.discount}}% off</p>
        </div>
        <div class="available">
          <span class="title">Available: </span>
          <span class="in_stock">In Stock</span>
        </div>
        <p class="note_pro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum eros idoni rutrum
          fermentum. </p>
          <div class="buy_on_ebay">
            <a class="text-white hoverClick" (click)="customize()">Customize and Buy</a>
        </div>
        <div class="categories">
          <p class="title">Categories: </p>
          <ul>
            <li><a href="" class="">Men, </a></li>
            <li><a href="" class="">Hipster, </a></li>
            <li><a href="" class="">T-shirt, </a></li>
            <li><a href="" class="">Short T-Shirt, </a></li>
          </ul>
        </div>
        <div class="categories">
          <p class="title">Tags: </p>
          <ul>
            <li><a href="" class="">Men’s Clothing, </a></li>
            <li><a href="" class="">T-shirt </a></li>
          </ul>
        </div>
        <!-- <div class="share">
          <span class="title ">SHARE: </span>
          <a href="" class=""><span aria-hidden="true" class="social_twitter social"></span></a>
          <a href="" class=""><span aria-hidden="true" class="social_facebook social"></span></a>
          <a href="" class=""><span aria-hidden="true" class="social_pinterest social"></span></a>
          <a href="" class=""><span aria-hidden="true" class="social_instagram social"></span></a>
          <a href="" class=""><span aria-hidden="true" class="social_dribbble social"></span></a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="product_description">
    <div class="tab-v8">
      <div class="header_pro_description">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#tab-v8-1" role="tab" data-toggle="tab" aria-expanded="true">Product
              description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab-v8-2" role="tab" data-toggle="tab" aria-expanded="true">Additional
              information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab-v8-3" role="tab" data-toggle="tab" aria-expanded="true">Ratings ({{ratings.length}})</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active " id="tab-v8-1">
          <div class="content_pro_description">
            <div class="coupling"><span>Coupling a blended linen construction with tailored style, the River Island HR
                Jasper Blazer will imprint a touch of dapper charm into your after-dark wardrobe. Our model is wearing a
                size medium blazer, and usually takes a size medium/38L shirt. He is 6’2 1/2” (189cm) tall with a 38”
                (96 cm) chest and a 31” (78 cm) waist.</span>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-v8-2">
          <div class="content_pro_description">
            <div class="coupling"><span>Coupling a blended linen construction with tailored style, the River Island HR
                Jasper Blazer will imprint a touch of dapper charm into your after-dark wardrobe. Our model is wearing a
                size medium blazer, and usually takes a size medium/38L shirt. He is 6’2 1/2” (189cm) tall with a 38”
                (96 cm) chest and a 31” (78 cm) waist.</span>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-v8-3">
          <div class="content_pro_description">
            <div class="coupling" *ngFor="let rating of ratings">
              <div class="card border-light mb-5">
                <div class="card-header">{{rating.user_name}} <span></span></div>
                <div class="card-body">
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>